<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="collapse navbar-collapse navbar-inverse">
  <form class="form-inline">
    <div id="user_nav">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Posts', posts_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li class="text-muted">
              <%= link_to current_user.email, '#' %>
            </li>

            <li class="text-muted">
              <%= link_to 'Log out', log_out_path %>
            </li>
        <% else %>
            <li class="text-muted">
              <%= link_to 'Log In', log_in_path %>
            </li>
            <li class="text-muted">
              <%= link_to 'Sign Up', sign_up_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </form>
</nav>
<div class="container" >
  <% flash.each do |name, msg|%>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button class="close" type="button" data-dismiss="alert" >
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= msg %>
          <script>
              setTimeout("$('.alert').fadeOut('slow')", 3000);
          </script>
      <%end%>
  <%end%>
  <%= yield %>
</div>

</body>
</html>
